In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("online_shoppers_intention.csv")

In [3]:
print(df)

       Administrative  Administrative_Duration  Informational  \
0                   0                      0.0              0
1                   0                      0.0              0
2                   0                      0.0              0
3                   0                      0.0              0
4                   0                      0.0              0
...               ...                      ...            ...
12325               3                    145.0              0
12326               0                      0.0              0
12327               0                      0.0              0
12328               4                     75.0              0
12329               0                      0.0              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
0                         0.0               1                 0.000000
1                         0.0               2                64.000000
2                         0.0               1                 0.000000
3                         0.0               2                 2.666667
4                         0.0              10               627.500000
...                       ...             ...                      ...
12325                     0.0              53              1783.791667
12326                     0.0               5               465.750000
12327                     0.0               6               184.250000
12328                     0.0              15               346.000000
12329                     0.0               3                21.250000

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
0         0.200000   0.200000    0.000000         0.0   Feb                 1
1         0.000000   0.100000    0.000000         0.0   Feb                 2
2         0.200000   0.200000    0.000000         0.0   Feb                 4
3         0.050000   0.140000    0.000000         0.0   Feb                 3
4         0.020000   0.050000    0.000000         0.0   Feb                 3
...            ...        ...         ...         ...   ...               ...
12325     0.007143   0.029031   12.241717         0.0   Dec                 4
12326     0.000000   0.021333    0.000000         0.0   Nov                 3
12327     0.083333   0.086667    0.000000         0.0   Nov                 3
12328     0.000000   0.021053    0.000000         0.0   Nov                 2
12329     0.000000   0.066667    0.000000         0.0   Nov                 3

       Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0            1       1            1  Returning_Visitor    False    False
1            2       1            2  Returning_Visitor    False    False
2            1       9            3  Returning_Visitor    False    False
3            2       2            4  Returning_Visitor    False    False
4            3       1            4  Returning_Visitor     True    False
...        ...     ...          ...                ...      ...      ...
12325        6       1            1  Returning_Visitor     True    False
12326        2       1            8  Returning_Visitor     True    False
12327        2       1           13  Returning_Visitor     True    False
12328        2       3           11  Returning_Visitor    False    False
12329        2       1            2        New_Visitor     True    False

[12330 rows x 18 columns]

In [4]:
df.shape

(12330, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [6]:
df.columns=df.columns.str.lower()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   administrative           12330 non-null  int64
 1   administrative_duration  12330 non-null  float64
 2   informational            12330 non-null  int64
 3   informational_duration   12330 non-null  float64
 4   productrelated           12330 non-null  int64
 5   productrelated_duration  12330 non-null  float64
 6   bouncerates              12330 non-null  float64
 7   exitrates                12330 non-null  float64
 8   pagevalues               12330 non-null  float64
 9   specialday               12330 non-null  float64
 10  month                    12330 non-null  object
 11  operatingsystems         12330 non-null  int64
 12  browser                  12330 non-null  int64
 13  region                   12330 non-null  int64
 14  traffictype              12330 non-null  int64
 15  visitortype              12330 non-null  object
 16  weekend                  12330 non-null  bool
 17  revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [8]:
df["weekend"]

0        False
1        False
2        False
3        False
4         True
         ...
12325     True
12326     True
12327     True
12328    False
12329     True
Name: weekend, Length: 12330, dtype: bool

In [9]:
df["weekend"]=df["weekend"].replace((True,False),(1,0))

In [10]:
df["weekend"]

0        0
1        0
2        0
3        0
4        1
        ..
12325    1
12326    1
12327    1
12328    0
12329    1
Name: weekend, Length: 12330, dtype: int64

In [11]:
df["revenue"].value_counts()

revenue
False    10422
True      1908
Name: count, dtype: int64

In [12]:
df["revenue"]=df["revenue"].replace((True,False),(1,0))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   administrative           12330 non-null  int64
 1   administrative_duration  12330 non-null  float64
 2   informational            12330 non-null  int64
 3   informational_duration   12330 non-null  float64
 4   productrelated           12330 non-null  int64
 5   productrelated_duration  12330 non-null  float64
 6   bouncerates              12330 non-null  float64
 7   exitrates                12330 non-null  float64
 8   pagevalues               12330 non-null  float64
 9   specialday               12330 non-null  float64
 10  month                    12330 non-null  object
 11  operatingsystems         12330 non-null  int64
 12  browser                  12330 non-null  int64
 13  region                   12330 non-null  int64
 14  traffictype              12330 non-null  int64
 15  visitortype              12330 non-null  object
 16  weekend                  12330 non-null  int64
 17  revenue                  12330 non-null  int64
dtypes: float64(7), int64(9), object(2)
memory usage: 1.7+ MB

In [14]:
df["visitortype"].value_counts()

visitortype
Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: count, dtype: int64

In [15]:
condition=df["visitortype"]=='Returning_Visitor'

In [16]:
df["returning_visitor"]=np.where(condition,1,0)

In [17]:
df.head()

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,visitortype,weekend,revenue,returning_visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,1,0,1

In [18]:
df=df.drop(columns=["visitortype"])

In [19]:
df.head()

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,weekend,revenue,returning_visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,1,0,1

In [20]:
df["month"]=df["month"].str.lower()

In [21]:
df.head()

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,weekend,revenue,returning_visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,feb,1,1,1,1,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,feb,2,2,1,2,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,feb,4,1,9,3,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,feb,3,2,2,4,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,feb,3,3,1,4,1,0,1

In [22]:
ordinal_encoder=OrdinalEncoder()

In [23]:
df["month"]=ordinal_encoder.fit_transform(df[["month"]])

In [24]:
df.head()

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,weekend,revenue,returning_visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2.0,1,1,1,1,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2.0,2,2,1,2,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2.0,4,1,9,3,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2.0,3,2,2,4,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2.0,3,3,1,4,1,0,1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   administrative           12330 non-null  int64
 1   administrative_duration  12330 non-null  float64
 2   informational            12330 non-null  int64
 3   informational_duration   12330 non-null  float64
 4   productrelated           12330 non-null  int64
 5   productrelated_duration  12330 non-null  float64
 6   bouncerates              12330 non-null  float64
 7   exitrates                12330 non-null  float64
 8   pagevalues               12330 non-null  float64
 9   specialday               12330 non-null  float64
 10  month                    12330 non-null  float64
 11  operatingsystems         12330 non-null  int64
 12  browser                  12330 non-null  int64
 13  region                   12330 non-null  int64
 14  traffictype              12330 non-null  int64
 15  weekend                  12330 non-null  int64
 16  revenue                  12330 non-null  int64
 17  returning_visitor        12330 non-null  int64
dtypes: float64(8), int64(10)
memory usage: 1.7 MB

In [26]:
#target varible is revenue
df["revenue"].value_counts()

revenue
0    10422
1     1908
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   administrative           12330 non-null  int64
 1   administrative_duration  12330 non-null  float64
 2   informational            12330 non-null  int64
 3   informational_duration   12330 non-null  float64
 4   productrelated           12330 non-null  int64
 5   productrelated_duration  12330 non-null  float64
 6   bouncerates              12330 non-null  float64
 7   exitrates                12330 non-null  float64
 8   pagevalues               12330 non-null  float64
 9   specialday               12330 non-null  float64
 10  month                    12330 non-null  float64
 11  operatingsystems         12330 non-null  int64
 12  browser                  12330 non-null  int64
 13  region                   12330 non-null  int64
 14  traffictype              12330 non-null  int64
 15  weekend                  12330 non-null  int64
 16  revenue                  12330 non-null  int64
 17  returning_visitor        12330 non-null  int64
dtypes: float64(8), int64(10)
memory usage: 1.7 MB

In [28]:
df.dtypes

administrative               int64
administrative_duration    float64
informational                int64
informational_duration     float64
productrelated               int64
productrelated_duration    float64
bouncerates                float64
exitrates                  float64
pagevalues                 float64
specialday                 float64
month                      float64
operatingsystems             int64
browser                      int64
region                       int64
traffictype                  int64
weekend                      int64
revenue                      int64
returning_visitor            int64
dtype: object

In [29]:
result = df[df.columns[1:]].corr()['revenue']

In [30]:
result

administrative_duration    0.093587
informational              0.095200
informational_duration     0.070345
productrelated             0.158538
productrelated_duration    0.152373
bouncerates               -0.150673
exitrates                 -0.207071
pagevalues                 0.492569
specialday                -0.082305
month                      0.080150
operatingsystems          -0.014668
browser                    0.023984
region                    -0.011595
traffictype               -0.005113
weekend                    0.029295
revenue                    1.000000
returning_visitor         -0.103843
Name: revenue, dtype: float64

In [31]:
result.sort_values(ascending=False)

revenue                    1.000000
pagevalues                 0.492569
productrelated             0.158538
productrelated_duration    0.152373
informational              0.095200
administrative_duration    0.093587
month                      0.080150
informational_duration     0.070345
weekend                    0.029295
browser                    0.023984
traffictype               -0.005113
region                    -0.011595
operatingsystems          -0.014668
specialday                -0.082305
returning_visitor         -0.103843
bouncerates               -0.150673
exitrates                 -0.207071
Name: revenue, dtype: float64